<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="../../vue.js"></script>
</head>
<body>
  
  <div id="first">
    <button @click="show = !show">click me to show or remove</button>
    <div>
      <p v-if="show">if 'show' is true then you will see me</p>
      <p v-else>if not you'll see me</p>
      <template v-if="show">
        <h1>Templates</h1>
        <p>...are better than divs for holding v-if statements</p>
        <p>With both you can hold multiple if-statements</p>
        <p>But templates are more semantic and don't actually appear in the dom (I'm not sure if that's strictly better but hey)</p>
      </template>
    </div>
  </div>

  <hr>
  
  <div id="second">
      <button @click="show = !show">v-show is similar</button>
      <div>
        <div v-show="show">
          <h1>V-show</h1>
          <ul>
            <li>V-show is like v-if, but adds display:none to the element instead of removing it</li>
            <li>This usually has the same effect but is slightly slower</li>
            <li>So the default should be to use v-if, unless you know you need v-show</li>
            <li><strong>Also!!!</strong> V-show does NOT work with template tags...</li>
          </ul>
        </div>
      </div>
  </div>

  <hr>
  
  <div id="third">
    <h3>Tech stack... or showing lists of elements using v-for:</h3>
    <ul>
      <li v-for="tech in techStack">{{ tech }}</li>
    </ul>
    <h3>Also with the index extracted too:</h3>
    <ul>
      <li v-for="(tech, i) in techStack">{{ tech }} ({{ i }})</li>
    </ul>
    <h3>If v-for is on a parent container, the variables can be accessed on all child containers:</h3>
    <template v-for="(tech, index) in techStack">
      <h5>{{ tech }}</h5>
      <p>The above one is index {{ index }}</p>
    </template>
  </div>
  
  <hr>

  <div id="forth">
    <h3>You can also do this with an object:</h3>
    <ul>
      <li v-for="p in persons">
        {{ p.name }} is {{ p.age }} years old. {{ p.name }} has {{ p.hair }} hair and {{ p.feet }} feet.
      </li>
    </ul>
    <h4>Or, looping through indexes/values/keys of objects:</h4>
      <ul>
        <li v-for="p in persons"> Info about {{ p.name }}:
          <ul>
            <li v-for="(value, key, index) in p">{{ key }}: {{ value }} ({{ index }})</li>
          </ul>
        </li>
      </ul>
  </div>
  
  <script src="app.js"></script>

</body>
</html>